* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* background-color: #000814; */
}
#app {
  margin-top: -10px;
  min-height: 150vh;
  /* background-color: #000814; */
}
.light {
  background-color: rgb(255, 255, 255);
}
.dark {
  background-color: #000814;
}
.black_box_shadow {
}
.nav_container {
  width: 100%;
  position: fixed;
  left: 0;
  right: 50%;
  /* transform: translateX(50%); */

  z-index: 5;
  background-color: #000814;
  box-shadow: 0px 1px 0px 0px #ee1d52;
}

.nav_light {
  background-color: #fff;
}
.darkNav {
  background-color: #000814;
}
.lightNav {
  background-color: rgb(228, 228, 228);
}

.themeMode {
  z-index: 10;
  position: fixed;
  top: 30px;
  right: 30px;
}
.not_active {
  display: none;
}
.themeMode .modes {
  font-size: 30px;
  cursor: pointer;

  transition: all 0.5s;
  /* animation: RoteteModes 1s infinite; */
}
.themeMode .sun {
  color: #fff;
}
.themeMode .moon {
  color: #000814;
  /* transform: rotate(200deg); */
}
.themeMode .sun:hover,
.themeMode .moon:hover {
  animation: none;
  /* color: #ffd60a; */
}
@keyframes RoteteModes {
  100% {
    transform: rotate(1turn);
  }
}
.profile_container {
  /* position: absolute;
  left: 0;
  right: 50%;
  transform: translateX(50%);
  margin-top: 50px; */
}
