.containers {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* about_info style  */
.about_info {
  width: 500px;
  height: 400px;

  margin-top: 30px;
  padding: 20px;
  /* background-color: #00b4d8; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 10px #00b4d8;
}

.left_info {
  margin-right: 20px;
}
.left_info .items {
  color: #00b4d8;
}
.right_info .items {
  color: #ee1d52;
}
.right_info {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.left_info .items,
.right_info .items {
  margin-bottom: 15px;
}
